- extends "base.haml"
- load i18n

- block content
  .span6.offset3
    %h2 
      - trans 'Enter new password'
    %p
      - trans "Please enter your new password twice so we can verify you typed it in correctly."
    .well
      %form{'action':"", 'method':"post"}
        - csrf_token
        {{ form.new_password1.errors }}
        %p
          %label{'for':"id_new_password1"}
            - trans 'New password:'
          {{ form.new_password1 }}
        {{ form.new_password2.errors }}
        %p
          %label{'for':"id_new_password2"}
            - trans 'Confirm password:'
          {{ form.new_password2 }}
        %p
          %input.btn.btn-primary{'type':"submit", 'value':"Change"}