- extends "base.haml"
- load i18n

- block content
  .span6.offset3
    .well
      %h2
        - trans "Password reset complete"
      %p
        - trans "Your password has been set.  You may go ahead and log in now."
      %p
        %a.btn.btn-primary{'href':"/login/"} Login
        