- extends "base.haml"
- load i18n

- block content
  .span6.offset3
    .well
      %h2
        - trans 'Password reset successful'
      %p
        - trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly."
